.assessment-banner {
    background-position: center;
    background-size: cover;
    height: 420px;
    position: relative;
  }
  
  .assessment-banner__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 1;
  }
  
  .attribution {
    margin-top: 20px;
    margin-right: 20px;
    text-align: right;
    color: gray;
  }

  .attribution a {
    color: gray;
  }
  
  .elementToFadeInAndOut {
    opacity: 1;
    animation: fade 2s linear;
  }


@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}
  